@model efcoreApp.Data.Ogrenci
<h2>Ögrenci Ekle</h2>
<hr>
<form asp-controller="Ogrenci" asp-action="Create" method="post"> 
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="OgrenciAd" class="form-label">OgrenciAd</label>
        <input asp-for="OgrenciAd" class="form-control" required>
    </div>
    <div class="mb-3">
        <label asp-for="OgrenciSoyad" class="form-label">OgrenciSoyad</label>
        <input asp-for="OgrenciSoyad" class="form-control" required>  
    </div>           
    <div class="mb-3">
        <label asp-for="Eposta" class="form-label">Eposta</label>
        <input asp-for="Eposta" class="form-control" required>
    </div>
    <div class="mb-3">
        <label asp-for="Telefon" class="form-label">Telefon</label>
        <input asp-for="Telefon" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-secondary">Kaydet</button>

</form>


